<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Icarus' Избранное</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="icon" href="{{ url_for('static', filename='images/favicon.png') }}" type="image/x-icon">
    <link href="{{ url_for('static', filename='styles/active_tab.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='styles/animated_fadein.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='styles/dark_background.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='styles/social_icons.css') }}" rel="stylesheet">
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
            <div class="container-fluid">
                <a><img src="{{ url_for('static', filename='images/favicon.png') }}" alt="Your Icon" width="64" height="64" class="d-inline-block align-text-top"></a>
                <a class="navbar-brand" href="{{ url_for('index') }}" style="font-size: 30px; font-weight: bold; padding-left: 10px;">Icarus' project</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse justify-content-between" id="navbarNav">
                    <ul class="navbar-nav">
                        <li class="nav-item">
                            <a class="nav-link" href="{{ url_for('index') }}">Главная</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{{ url_for('about') }}">О компании</a>
                        </li>
                        {% if current_user.is_authenticated %}
                        <li class="nav-item">
                            <a class="nav-link" href="{{ url_for('contact') }}">Заявка/Обратная связь</a>
                        </li>
                            <li class="nav-item">
                                <a class="nav-link" href="{{ url_for('show_locations') }}">Локации</a>
                            </li>
                        {% endif %}
                        {% if current_user.role_id in [2, 3] %}
                            <li class="nav-item">
                                <a class="nav-link" href="{{ url_for('admin.index') }}">Админ панель</a>
                            </li>
                        {% endif %}
                    </ul>
                    <ul class="navbar-nav">
                        {% if current_user.is_authenticated %}
                            <li class="nav-item">
                                <a class="nav-link" href="{{ url_for('favorites') }}">Избранное</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="{{ url_for('profile') }}">Личный кабинет</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="{{ url_for('logout') }}">Выход</a>
                            </li>
                        {% else %}
                            <li class="nav-item">
                                <a class="nav-link" href="{{ url_for('login') }}">Вход</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="{{ url_for('register') }}">Регистрация</a>
                            </li>
                        {% endif %}
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <section class="container mt-4 bg-dark text-light p-5 animated fadeIn">
        {% if get_flashed_messages(category_filter=["success"]) %}
            <div class="alert alert-success" role="alert">
                {{ get_flashed_messages(category_filter=["success"])[0] }}
            </div>
        {% endif %}
        <h1>Избранное</h1>
        <div class="row">
            {% for favorite in favorites %}
            <div class="col-md-4 mb-3">
                <div class="card bg-dark border-light">
                    <img src="{{ url_for('static', filename='images/locations/' + favorite.location.image.split('/')[-1]) }}" class="card-img-top" alt="{{ favorite.location.name }}">
                    <div class="card-body text-center text-light">
                        <h5 class="card-title">{{ favorite.location.name }}</h5>
                        <p class="card-text"><strong>Местоположение:</strong> {{ favorite.location.location }}</p>
                        <p class="card-text"><strong>Цена аренды:</strong> ${{ favorite.location.rental_price }}</p>
                        <a href="{{ url_for('location_details', location_id=favorite.location.id) }}" class="btn btn-outline-warning">Подробнее</a>
                        <form action="{{ url_for('remove_from_favorites_favorites', location_id=favorite.location.id) }}" method="POST">
                            <input type="hidden" name="_method" value="DELETE">
                            <button type="submit" class="btn btn-outline-danger">Удалить из избранного</button>
                        </form>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </section>
    <footer class="bg-dark text-light p-4 fixed-bottom">
        <div class="container text-center">
            <h5>Подписывайтесь на нас</h5>
            <div class="row justify-content-center mt-4 social-icons">
                <div class="col-auto">
                    <a href="https://t.me/@DragonLabZ" target="_blank">
                        <img src="{{ url_for('static', filename='images/icons/telegram50.png') }}" alt="Telegram" width="50" height="50">
                    </a>
                </div>
                <div class="col-auto">
                    <a href="https://github.com/Korabnick" target="_blank">
                        <img src="{{ url_for('static', filename='images/icons/github50.png') }}" alt="GitHub" width="50" height="50">
                    </a>
                </div>
                <div class="col-auto">
                    <a href="https://vk.com/korabelnikov2003" target="_blank">
                        <img src="{{ url_for('static', filename='images/icons/vk50.png') }}" alt="VK" width="50" height="50">
                    </a>
            </div>
        </div>
    </footer>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>
    <script src="{{ url_for('static', filename='scripts/active_tab.js') }}"></script>
</body>
</html>
